body {
    text-align: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ee9ca7, #ffdde1);
  }
  
  h2 {
    color: rgb(31, 31, 31);
  }
  
  .container {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: rgb(222, 253, 107);
    width: 40%;
    background: linear-gradient(to right, #55b7e0, #95c3d3, #cedee6);
    border-radius: 8px;
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
  }